*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.contenedor{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color:rgb(236, 214, 189);
    
    grid-template-columns: 180px 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
    
    justify-content: center;
    align-content: center;
}

.caja{
    background-color: rgb(94, 180, 180);
    margin:5px;
    text-align: center;
    border: 2px solid rgb(237, 244, 245);
}

#caja1{
    grid-row: 1 / span 2;
    background-color: darkcyan;
}

#caja2{
    grid-column: 2 / span 4;
}

#caja6{
    grid-column: 2 / span 4;
}

#caja7{
    grid-row: 3;
    background-color: rgb(100, 237, 162);
}
